[Desktop Entry]
Name=Joplin Desktop
GenericName=Note taking tool
Exec=joplin-desktop %u
Categories=Notes;Todo;
StartupWMClass=joplin
Type=Application
Version=1.1
