[submodule "vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "zsh/antigen/antigen"]
	path = zsh/antigen/antigen
	url = https://github.com/zsh-users/antigen
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
