[Unit]
Description=SSH Agent
ConditionFileIsExecutable=/usr/bin/ssh-agent
ConditionPathExists=!%h/.ssh/.auth_socket

[Service]
Type=forking
ExecStart=/bin/sh -c %h/.dotfiles/bin/start-ssh-agent
PIDFile=%h/.ssh/.auth_pid
Restart=on-failure

[Install]
WantedBy=basic.target
